
@media screen and (max-width:1025px){

    .menu section {
    display: flex;
    
        }
        }
    
    @media screen and (min-width:1025px){
            
    .whole-palette{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    
        } 
        }
                @media screen and (min-width:1025px){
            
                    .plat{
    
                        width: 100%;
                    }
                        } 
                        @media screen and (min-width:1025px){
                        main.menu section {
                            box-sizing: border-box;
                            margin: 0 auto;
                            width: 95%;
                        }
                    }